[submodule "neovim"]
	path = neovim
	url = https://github.com/neovim/neovim
[submodule "dwm"]
	path = dwm
	url = https://github.com/Dawid33/dwm
[submodule "st"]
	path = st
	url = https://github.com/Dawid33/st
